body{
  /* background-color: white; */
  /* background-image: url('./background.jpg');  */
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; Optional: Keeps the background fixed while scrolling */
  margin: 0; /* Remove default margin to fill the entire viewport */
  height: 100vh;  
  /* color: white; */
  /* justify-content: center; */
  /* align-items: center; */

}

.Classroom{
  height: 100%;
  width: 100%;
}

.img{
  display: flex; 
}